.container__menu-topo > ul {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  margin: 0 0 2rem 0;
  gap: 1.5rem;
}

.container__menu-topo > ul > li {
  list-style: none;
  font-weight: 500;
  font-size: 0.85rem;
  display: flex;
  align-items: center;
  color: rgba(255, 255, 255, 0.7);
}

.container__menu-topo > ul > li:not(:last-child)::after {
  content: "|";
  margin-left: 1.5rem;
  font-weight: 300;
  opacity: 0.3;
}
