<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (post(); as postRef) {
      <div>
        <h2 data-cy="postDetailsHeading"><span jhiTranslate="blogApp.post.detail.title">Post</span></h2>

        <hr />

        <jhi-alert-error />

        <jhi-alert />

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ postRef.id }}</span>
          </dd>
          <dt><span jhiTranslate="blogApp.post.title">Title</span></dt>
          <dd>
            <span>{{ postRef.title }}</span>
          </dd>
          <dt><span jhiTranslate="blogApp.post.description">Description</span></dt>
          <dd>
            <span>{{ postRef.description }}</span>
          </dd>
          <dt><span jhiTranslate="blogApp.post.imageUrl">Image Url</span></dt>
          <dd>
            <span>{{ postRef.imageUrl }}</span>
          </dd>
          <dt><span jhiTranslate="blogApp.post.authorName">Author Name</span></dt>
          <dd>
            <span>{{ postRef.authorName }}</span>
          </dd>
          <dt><span jhiTranslate="blogApp.post.publishDate">Publish Date</span></dt>
          <dd>
            <span>{{ postRef.publishDate | formatMediumDatetime }}</span>
          </dd>
          <dt><span jhiTranslate="blogApp.post.category">Category</span></dt>
          <dd>
            <span>{{ postRef.category }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/post', postRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
